/* custom card 1 start */

.custom-card::before {
  content: '';
  position: absolute;
  bottom: -150px;
  left: -150px;
  width: 300px;
  height: 200px;
  border-radius: 50%;
    background: linear-gradient(
    135deg,
    #667eea 0%,
    #764ba2 40%,
    #6a11cb 70%,
    #2575fc 100%
  );
  transform: scaleX(0) scaleY(0);
  transition: 
    transform 1.2s ease,
    scale 1.2s ease;
  z-index: -1;
}

.custom-card:hover::before {
  transform: scaleX(5) scaleY(6);
}

/* custom card 1 end */



/* custom card 2 start */

.custom-card-2::before {
  content: '';
  position: absolute;
  bottom: -150px;
  right: -50px;
  width: 300px;
  height: 200px;
  border-radius: 50%;
    background: linear-gradient(
    135deg,
    #667eea 0%,
    #764ba2 40%,
    #6a11cb 70%,
    #2575fc 100%
  );
  transform: scaleX(0) scaleY(0);
  transition: 
    transform 1.7s ease,
    scale 1.2s ease;
  z-index: -1;
}

.custom-card-2:hover::before {
  transform: scaleX(7) scaleY(8);
}

/* custom card 2 end */